.App-header {
  background-color: #282c34;
  height: 100vh;
}

.container{
  max-width: 1444px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 'header header' 'sidebar content';
  grid-gap: 10px;
  grid-template-columns: 1fr 4fr;

  padding: 10px;
}


