.container{
  max-width: 1444px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 'header header' 'sidebar content';
  grid-gap: 10px;
  grid-template-columns: 1fr 4fr;

  padding: 10px;
}

.App-wrapper-content{
  color: bisque;
  padding: 10px;
  border: 1px solid bisque;
  grid-area: content;
}


